@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 257 15% 12%;
    --card: 0 0% 100%;
    --card-foreground: 257 15% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 257 15% 12%;
    --primary: 245 62% 82%;
    --primary-foreground: 257 15% 12%;
    --secondary: 223 89% 70%;
    --secondary-foreground: 0 0% 100%;
    --muted: 245 10% 95%;
    --muted-foreground: 257 10% 40%;
    --accent: 223 89% 70%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 245 10% 90%;
    --input: 245 10% 90%;
    --ring: 223 89% 70%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 257 15% 12%;
    --foreground: 245 62% 95%;
    --card: 257 15% 15%;
    --card-foreground: 245 62% 95%;
    --popover: 257 15% 12%;
    --popover-foreground: 245 62% 95%;
    --primary: 245 62% 82%;
    --primary-foreground: 257 15% 12%;
    --secondary: 223 89% 70%;
    --secondary-foreground: 0 0% 100%;
    --muted: 257 15% 20%;
    --muted-foreground: 245 20% 70%;
    --accent: 223 89% 70%;
    --accent-foreground: 257 15% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 15% 20%;
    --input: 257 15% 20%;
    --ring: 245 62% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased transition-colors duration-300;
  }
}